/* ==== HEADER ==== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: #fff;
  font-family: "Ultra", serif;
  color: #000;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
  padding-top: 10px;
}

.navigationList {
  display: flex;
}

li {
  list-style-type: none;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  width: 290px;
  height: 48px;
  text-decoration: none;
  font-family: "Sans", sans-serif;
  font-weight: 100;
  cursor: pointer;
}

.headerNav:hover {
  background: #000;
  color: #fff;
  transition: 0.5s;
}

.btnContact {
  border: none;
  width: 138px;
  height: 48px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.btnContact:hover {
  background-color: #f9bf77;
  color: #000;
  transition: 0.5s;
}
/* ======== */

/* ==== MAIN ==== */

.mainSection {
  display: flex;
  justify-content: space-between;
  background-image: url("./image/spikelets.svg");
  background-repeat: no-repeat;
}

.headerInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 791px;
  background: rgba(231, 212, 190, 0.44);
}

.product {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
}

.headerInformation h2 {
  width: 467px;
  height: 240px;
  font-family: "Ultra";
  font-size: 72px;
}

.textInfo {
  margin-top: 60px;
  width: 470px;
  font-family: "DM Sans";
  line-height: 32px;
  font-weight: 400;
  font-size: 20px;
}
/* ======== */

/* ==== ABOUT US ==== */
.aboutUs {
  display: flex;
  justify-content: space-around;
  height: 790px;
  margin-top: 50px;
}

.imagesSlider {
  width: 50%;
  /*border: 2px solid black;*/
  background-image: url("./image/Shape.png");
  background-repeat: no-repeat;
  background-position: 160px 242px;
}

.bitmap {
  position: absolute;
  width: 370px;
  height: 304px;
  left: 135px;
  top: 1040px;
}

.bitmap2 {
  position: absolute;
  width: 411px;
  height: 391px;
  left: 226px;
  top: 1276px;
}

.arrowUp {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 735px;
  top: 1325px;
  cursor: pointer;
}

.arrowDown {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 735px;
  top: 1386px;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.content h2 {
  width: 570px;
  font-family: "Ultra";
  line-height: 64px;
  color: #171b1b;
  font-size: 56px;
}

.content .textInfo {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #171b1b;
  margin-bottom: 20px;
}

.textAfterNumber {
  width: 128px;
  font-family: "Oswald";
  font-size: 24px;
  line-height: 32px;
  color: #171b1b;
}

.textContent {
  width: 370px;
  font-family: "DM Sans";
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 32px;
  color: rgba(51, 51, 51, 0.496405);
}

.listContent {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 32px;
  color: #171b1b;
}

.contentAfterHeader {
  padding-left: 5%;
}

/* ======== */

/* ==== RECLAM ====*/

.reclam {
  display: flex;
  margin: 10% 0 10% 0;
  flex-direction: column;
  justify-content: center;
  height: 480px;
  background-image: url("./image/Bitmap3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.reclamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reclamContainer p {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
}

.reclamContainer h2 {
  width: 473px;
  font-family: "Ultra";
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #fff;
  margin-top: 1%;
}

/* ======== */

/* ==== CONTACT ====*/

.contactInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactInformation p {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #171b1b;
  margin-bottom: 2%;
}

.contactInformation h2 {
  font-family: "Ultra";
  font-size: 56px;
  line-height: 64px;
  color: #171b1b;
  margin-bottom: 5%;
}

.containerContact {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.address,
.phone {
  list-style-type: none;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000;
}

.contactUS {
  margin: 5% 0 5% 0;
  width: 170px;
  height: 48px;
  background-color: #fff;
  border: 1px solid gray;
  color: #171b1b;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.contactUS:hover {
  background-color: #fbb65f;
  transition: 0.5s;
  color: #fff;
  border: none;
}

/* ======== */

/* ==== FOOTER ====*/

footer {
  display: flex;
  background-color: #171b1b;
  height: 432px;
}
.footerContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 5%;
}

.footerContainer h2 {
  font-family: "Ultra";
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}

.menu,
.service,
.social {
  list-style-type: none;
  color: #fff;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.clik {
  width: 38px;
  cursor: pointer;
}

/* ======== */

/* ==== MEDIA ====*/

@media (max-width: 768px) {
  header {
    flex-direction: column;
    font-family: "Ultra", serif;
  }

  .navigationList {
    flex-direction: column;
    margin-bottom: 15px;
  }

  .mainSection {
    flex-direction: column;
    flex-grow: 2;
  }

  .headerInformation {
    justify-content: space-evenly;
    align-items: center;
  }

  .headerInformation img [alt~="Main_photo"] {
    flex-grow: 2;
  }

  .aboutUs {
    flex-direction: column;
  }

  .imagesSlider {
    display: flex;
    flex-direction: column;
    height: 53%;
    width: auto;
    background-position: 100px 298px;
    padding: 400px;
    background-size: 45%;
  }

  .bitmap {
    width: 233px;
    height: 200px;
    top: 1881px;
    left: 105px;
  }

  .bitmap2 {
    left: 253px;
    top: 2012px;
    width: 254px;
    height: 244px;
  }

  .arrowUp {
    left: 545px;
    top: 2051px;
  }

  .arrowDown {
    left: 545px;
    top: 2124px;
  }
}
